
.link {
  opacity: 1;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--inverted-secondary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
